.Panel {
  color: black;
  background-color: white;

  .panel-box {
    padding: 1em;
    font-size: 1em;
  }

  .panel-header {

    @media (max-width: 300px) { background-color: green; }
    background-color: grey;

    .panel-box { padding: 0.5em; }
  }

  .panel-footer {
    background-color: lightgrey;

    .panel-box { padding: 0.3em; }
  }
}
